src/flows/Create_Opportunity_from_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>redirectToQuoteDetailPage</name>
        <label>redirectToQuoteDetailPage</label>
        <locationX>1107</locationX>
        <locationY>54</locationY>
        <actionName>c:RedirectDetailPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>quoteToCreate.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>quoteToCreate.Id</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Opportunity_Fields</name>
        <label>Assign Opportunity Fields</label>
        <locationX>491</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>opptyToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppty_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyToCreate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyToCreate.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppty_Price_Book.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppty_Owner.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opporunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Fields</name>
        <label>Assign Quote Fields</label>
        <locationX>815</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>quoteToCreate.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppty_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteToCreate.SBQQ__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opptyToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteToCreate.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteToCreate.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteToCreate.SBQQ__PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppty_Price_Book.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppty_Owner.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>OpportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Opportunity from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity from Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opporunity</name>
        <label>Create Opporunity</label>
        <locationX>655</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Assign_Quote_Fields</targetReference>
        </connector>
        <inputReference>opptyToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>953</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>redirectToQuoteDetailPage</targetReference>
        </connector>
        <inputReference>quoteToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>172</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0013z00002Obl2zAAB</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_Opportunity_Quote</name>
        <label>Create Opportunity &amp; Quote</label>
        <locationX>330</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_Fields</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Demo test, if you want you can change it</stringValue>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Opportunity Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>OpportunityStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Oppty_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Oppty_Owner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accRecord.OwnerId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Oppty_Price_Book</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pricebook2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Price Book</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subscription_Term</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Subscription Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>opptyToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>quoteToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
